

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id = "dev" class = "org.Prac2.Dev">
    </bean>

    <bean id = "dev1" class = "org.Prac2.Dev" autowire="byType">
        <!--property name="com" ref="desk1" /-->
    </bean>
    <bean id = "com1" class = "org.Prac2.Laptop" primary="true">

    </bean>

    <bean id = "com" class="org.Prac2.Desktop">

    </bean>
</beans>
